body , html
	line-height:1
	font-weight: 200;
	font-family:'PingFang SC' , 'STHeitSC-Light' , 'Helvetica-Light' , arial , snas-seerif
.clearfix
	display:inline-block
	&:after
		display:inline-block
		content:'.'
		height:0
		line-height:0
		clear:both
		visibility:hidden